.App {
  text-align: center;
  background: #E2E2E2;
}

.ais-SearchBox-submit {
  display: none;
}
.ais-SearchBox-reset {
  display: none;
}

.ais-SearchBox-input, .ais-SearchBox-input:before {
  background: inherit;
  border: none;
  padding-left: 5%;
  font-family: 'NoBill';
  font-size: 20px;
  color: #007463;
  z-index: 95;
  border-left: 0.1px dotted green;
  min-width: 300px;
  cursor: pointer;
}



