@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@500&family=Courier+Prime:wght@400;700&family=Spectral&family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chilanka&display=swap');

@font-face {
  font-family: "NoBill";
  src: local("NoBill"),
    url('./fonts/postnobillscolombo-bold.ttf') format("truetype");
  font-weight: normal;
  font-display: swap;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* width */
::-webkit-scrollbar {
  width: 2px;
  height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #7a0000; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:horizontal{
  background: #000;
  border-radius: 10px;
}